.navbar1 {
    position: absolute;
    height: 60px;
    background-color: #212e3c;
    display: flex;
    justify-content: left;
    font-size: larger;
    padding-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100vw;
  }
  .navContainer1 {
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 10000;
    margin: 1px;
  }
  .logo:hover {
    cursor: pointer;
  }
  .logoImg {
    height: 40px;
    margin-bottom: 5px;
  }
  .navButton1 {
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    color: #fff;  
    line-height: 20px;
    background-color: #212e3c;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 4500;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    justify-content:right;
  }
  .navButton1:hover {
    background-color: #3d7ea6;
  }
  
  .link {
    color: inherit;
    text-decoration: none;
    font-size: x-large;
  }
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  
  .navItems1{
    margin-top: -80px;
    justify-content: right;
  }