/*.forgot-password{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ffffff
}

.container {
    width: 450px;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    border:solid;
    background-color: rgb(229, 249, 199);
    justify-content: center;
}
*/
.forgot-password{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: #306387; */
    background-image: url('https://akm-img-a-in.tosshub.com/indiatoday/images/story/202003/question-mark-1872634_1280.jpeg?size=690:388');
    background-size: cover;
    text-align: center;
    font-family: 'Gloock';
 
}
 
.forgotcontainer {
    width: 650px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-style: inset;
/* 
    width: 450px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding-left: 30px;
    padding-right: 30PX;
    border-radius: 20px;
    /* border:solid; */
    background-color: white;
    justify-content: center;
    opacity: 0.8;
}

 
.submit_button{
    height: 35px;
    width: 400px;
    background-color:#5eaa74;
    border: 0px ;
 
}